$blue: #0077b6;
$container-color: #f2f4f7;
$element-color: #f2f4f7;
$gray: #7c7c7c;
$based-color: #bebebe;
$green-color: #02a574;
$green-dark: #03865e;
$green-active: #016b4b;

$gold-color: #e89005;
$menu-gray: #2c2c2c;
$errors: #c3423f;
$errors-dark: #ab3836;
$errors-light: #ce6664;
$black-shade: #0e0e0e;
$panel-bgcolor: #F1FAFE;

$white: #fff;
